@font-face{
  font-family: Petita;
  src: url('../fonts/Petita.ttf');  
}
@font-face{
  font-family: Prime;
  src: url('../fonts/Prime.otf');  
}
html,body{
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Petita;
  font-size: 16px;
}
#bg{
  z-index: 1;
  width: 100%;
  position: absolute;
  height: 100%;
  background: url(./../../../media/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size:cover;
    background-size: cover;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter:blur(1px);
    filter: blur(1px);
}
.breadcrumb{
  position: fixed;
  width: auto;
  height: 100px;
  top: 25px;
  left: 60px;
  padding-top: 5px;
  font-weight: bold;
  font-family: Prime;
  font-size: 12px;
  vertical-align: sub;
  z-index: 5;
}
#cluster{
  z-index: 2;
  position: fixed;
  width: 75%;
  padding: 5px 10px;
  height: 450px;
  opacity: 1; 
  margin-top: -125px;
  top:40%;
  left:15%;
  box-shadow: inset 0px 0px 5px #68A1CE, inset 4px 0 10px #68A1CE, inset -20px 0 300px #122c36, 0 0 0px #3D4469, 0px 0 0px #122c36, 0px 0 0px #228DFF, 6px -6px 12px -7px #A0DDFF;  
  white-space: nowrap;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#cluster-menu{
  z-index: 3;
  width: 50%;
  height: 100%;
  opacity: 1;
  color: #fff;
   -webkit-transition: all 1.0s ease-out;
    -moz-transition: all 1.0s ease-out;
    -o-transition: all 1.0s ease-out;
    -ms-transition:all 1.0s ease-out;
    transition: all 1.0s ease-out;
}
.cluster-content{
  position: fixed;
  margin-bottom: 125px;  
  bottom:0%;
  left:50%;
  width:30%;
  height: 30%;
  font-family: Petita;
  font-size: 15px;
  color:#fff;
  white-space: normal;
  overflow-x:hidden;
  display: none;
}

.cluster-section{
  float: top;
  overflow: hidden;
  width: 250px;
  height: 40px;
  font-size: bolder;
  z-index: 4;
  white-space: nowrap;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  padding-left: 4%;
  letter-spacing: 1px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  color:#fff;
  box-shadow:  inset 4px 0 10px #68A1CE, inset -20px 0 30px #122c36, 6px -6px 12px -7px #A0DDFF;  
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.cluster-section img{
  position: fixed;
  width:40px;
  height:40px; 
  padding-right: 1%;
}
.cluster-section p{
  position: fixed;
  padding-left: 4%;
}
#codeit > .outer ,#manigma > .outer,#chillpill > .outer{
  display: none;
}
#codeit > .inner ,#manigma > .inner,#chillpill > .inner{
  display: none;
}
#icons{
  display: none;
}

.sub-cluster-section{
  left:50%;
  width: 100%;
  height: 40px;
  z-index: 4;
  white-space: nowrap;
  margin-bottom: 5px;
  font-family:  Geosans;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  padding-left: 4%;
  letter-spacing: 1px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  color:#fff;
  box-shadow:  inset 4px 0 10px #68A1CE, inset -20px 0 30px #122c36, 6px -6px 12px -7px #A0DDFF;  
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.sub-cluster-content{
  position: fixed;
  top:40%;
  left:50%;
  width:30%;
  height: 30%;
  font-family: Geosans;
  font-size: 15px;
  color:#fff;
  white-space: normal;
  overflow-x:hidden;
  display: none;
}
.sub-cluster-menu{
  z-index: 2;
  position: absolute;
  width: 25%;
  height: 100%;
  color: #fff;
  padding-left:4%; 
  left:0%;
  opacity: 0;
  -webkit-transition: all 1.0s ease-out;
  -moz-transition: all 1.0s ease-out;
  -o-transition: all 1.0s ease-out;
  -ms-transition:all 1.0s ease-out;
  transition: all 1.0s ease-out
}
.inner{
  position: relative;
}
.outer{
  position: relative;
  height: 0px;
  left:25%;
}
.boom{
  position: relative;
  width: 10%;
  height:40px;
  color:transparent;
  box-shadow: none;
}
.image{
  position: fixed;
  display: none;
  top: 45%;
  margin-top: -125px;
  left: 60%;
}
.image-main{
  position: fixed;
  display: block;
  left: 60%;
  top:45%;
  margin-top:-125px;  
}
.highlight{
   background-color: #DCEAF5;
  color: #1B3A53;
}

.icon-normal{
  -webkit-transition: visibility 0.5s ease-out;
    -moz-transition: visibility 0.5s ease-out;
    -o-transition: visibility 0.5s ease-out;
    -ms-transition: visibility  0.5s ease-out;
    transition: visibility 0.5s ease-out;
}
.icon-normal{
  visibility: visible;
}
.icon-glow{
  visibility: hidden;
}
.section:hover .icon-normal{
  visibility: hidden;
}
.section:hover .icon-glow{
  visibility: visible;
}
#controls{
  position: absolute;
  z-index: 5;
  top:80%;
  left:20%;
  width: 5%;
  height: auto;
  font-family: Geosans;
  font-size: 18px;
  cursor: crosshair;
  color:white;
}

#logo{
  position: fixed;
  z-index: 4;
  height: auto;
  left:50%;
  top: 2%;
  margin-left: -100px;
  width: 200px;
  display: block;
}
@media (max-width: 800px){
  /*#logo{
    width: 200px;
  }*/
}
#logo img{
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
}
#sub-menu{
  position: absolute;
  z-index: 4;
  width: 300px;
  height: 100%;
  border-right: 3px solid #34546F;
  box-shadow: inset 0 0 30px black;
  opacity: 0;
  background-color: #010710;
  color: #92CCFC;
 -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.sub-section{
  position: relative;
  float: top;
  width: 100%;
  height: 40px;
  z-index: 4;
  white-space: nowrap;
  font-family:  Prime;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}
.sub-section:hover{
    background-color: #0E2B43;
    color: white;
}
.sub-section p{
  padding: 0 10px;
}
.menu-icons{
  width: 30px; 
  height: auto;
}
.scrollable::-webkit-scrollbar {
  display: none;
    height: 5px;
}
.scrollable::-webkit-scrollbar-track {
  display: none;
    -webkit-box-shadow: inset 0 0 6px #228DFF;
}
.scrollable::-webkit-scrollbar-thumb {
  display: none;
  background-color: #228DFF;
  outline: 1px solid slategrey;
}

.navicon-button {
  display: inline-block;
  padding: 5.25rem 1.3125rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  background: white;
  float: left;
}
.navicon-button:hover {
  opacity: 1;
}
.navicon-button:hover .navicon:before {
  top: -3rem;
}
.navicon-button:hover .navicon:after {
  top: 3rem;
}

#toggle{
  z-index: 5;
  position: absolute;

}
#toggle button {
  display: inline-block;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}
#toggle button span {
  display: block;
}

.close{
  position: fixed;
  display: none;
  width: 70px;
  top: 24px;
  left: 23px;
}
.close img{
  width: 18px;
  margin-right: 5px;
  vertical-align: bottom;
}
.lines-button {
  padding: 2rem 1rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.57143rem;
  /* */
}
.lines-button:hover {
  opacity: 1;
}
.lines-button:active {
  transition: 0;
}
.lines {
  display: inline-block;
  width: 2rem;
  height: 0.27143rem;
  background: #ecf0f1;
  border-radius: 0.08571rem;
  transition: 0.3s;
  -webkit-transition:0.3s;
  -moz-transition:0.3;
  position: relative;
}
.lines:before, .lines:after {
  display: inline-block;
  width: 2rem;
  height: 0.27143rem;
  background: #ecf0f1;
  border-radius: 0.08571rem;
  transition: 0.3s;
  -webkit-transition:0.3s;
  -moz-transition:0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
}
.lines:before {
  top: .5rem;
}
.lines:after {
  top: -.5rem;
}

.lines-button:hover .lines:before {
  top: .64rem;
}
.lines-button:hover .lines:after {
  top: -.64rem;
}

/*sponsors slider*/

.sponsor-slider{
  z-index: 4;
  position: fixed;
  width: 150px;
  top: 5px;
  right: 0%;
}
.sponsor-slider div{
  width: 100%;
  font-size: 14px;
  font-family: Prime;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 1px;
}
#slideshow { 
    position: relative; 
    width: 150px; 
    height: auto; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}
#slideshow > div { 
    position: absolute; 
}
#slideshow img{
  border-radius: 3%;
}

/* social icons */
#social{
  position: fixed;
  bottom: 30px;
  left: 0px;
  z-index: 4;
  width: 160px;
  padding: 0 60px;
}
.social-icons{
  position: relative;
  height: 40px;
  width: 40px;   
  float: left;
}
.social-icons img{
  position: absolute;
  width: 40px;
  cursor: pointer;
  border-radius: 17px;
}
.social-plugin{
  position: fixed;
  bottom: 0px;
  left: 7px;
  z-index: 4;
  width: 160px;
  padding: 0px 60px;
}
.icon-normal, .social-icons:hover .icon-normal, .action-button:hover .icon-normal{
  visibility: hidden;
}
.icon-glow, .social-icons:hover .icon-glow, .action-button:hover .icon-glow{
  visibility: visible;
}

/* css3 animations */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.fadeInDown {
  display: inline-block;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeOut {
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes slideIn {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes slideOut {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}
.slideIn, .slideOut {
  display: block !important;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.slideIn{
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
.slideOut {
  -webkit-animation-name: slideOut;
  animation-name: slideOut;
}