@font-face{
  font-family: Voyager;
  src: url('../fonts/voyager.ttf');
}
@font-face{
  font-family: Geosans;
  src: url('../fonts/Geosans.ttf');  
}
@font-face{
  font-family: Prime;
  src: url('../fonts/Prime_light.otf');  
}
html,body{
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#bg{
  z-index: 1;
  width: 100%;
  position: absolute;
  height: 100%;
  background: url(./../../media/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size:cover;
  background-size: cover;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter:blur(0px);
  filter: blur(0px);
}

.line{
  position: absolute;
  z-index: 4;
  color:#000;
  background: #224F60;
  width: 1025px;
  height: 2px;
  box-shadow: 0px -1px 8px 3px black;
/*  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 0.5s ease-in-out;*/

}
#menu{
  z-index: 1;
  position: fixed;
  width: 1050px;
  margin-left: -525px;
  top: 35%;
  margin-top: -125px;
  padding: 5px 10px;
  left: 50%;
  opacity: 1; 
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-transform:translateY(40%);
  -moz-transform:translateY(40%);
  -o--transform:translateY(40%);
  -ms--transform:translateY(40%);
  transform:translateY(40%);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.section {
  display: inline-block;
  vertical-align: middle;
  margin-top: 25px;
  margin-bottom: 25px;
  width:195px;
  height:200px;
  cursor: pointer;
  background: url('../../media/icons/texture.png'); 
  box-shadow: 0 0 0px #000, inset 0px 0 0px #228DFF, inset -20px 0 300px #010202, 0 0 4px #3D4469, 0px 0 0px #010202, 0px 0 0px #228DFF;  
  /*background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25)), -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25));
    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25)), -webkit-linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25));
    background-position: 0 0pt, 4px 4px;
    background-size: 3px 3px;
    background-color: #152D5F;*/
  border: none;
  border-radius: 2px;
  border: 1px solid #131F24;
  border-left-width: 5px;
  border-left-color: #224F60;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-out;
  -ms-transition: -ms-transform 0.5s ease-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform:scale(0.9);
  -moz-transform:scale(0.9);
  -o-transform:scale(0.9);
  -ms-transform:scale(0.9);
  transform: scale(0.9); 
}
.section:hover{
  width: 180px;
  border-left-width: 20px; 
  box-shadow: inset 0px 0px 5px #68A1CE, inset 4px 0 10px #68A1CE, inset -20px 0 300px #010202, 0 0 0px #3D4469, 0px 0 0px #010202, 0px 0 0px #228DFF, 6px -6px 12px -7px #A0DDFF;  
  box-shadow: inset 4px 0 10px #68A1CE, 3px -6px 15px -7px #A0DDFF;
  border-color: #7FA9DB;
  border-left-color: #BEC7CE; 
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  -ms-transform:scale(1.1);
  transform: scale(1.1);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter:blur(0px);
  filter: blur(0px);
}
.section:focus{
  outline: none !important;  
}
.hover, .hover1{
  display: inline-block;
  vertical-align: middle;
  margin-top: 25px;
  margin-bottom: 25px;
  height:200px;
  width: 180px;
  cursor: pointer;
  box-shadow: inset 4px 0 10px #68A1CE, 3px -6px 15px -7px #A0DDFF;
  border-color: #7FA9DB;
  border-left-color: #BEC7CE; 
  border-radius: 2px;
  border: 1px solid #7FA9DB;
  border-left-color: #BEC7CE; 
  border-left-width: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-out;
  -ms-transition: -ms-transform 0.5s ease-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  -ms-transform:scale(1.1);
  transform: scale(1.1);

  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter:blur(0px);
  filter: blur(0px);
}
.hover .icon-normal, .hover1 .icon-normal{
  display: none;
  visibility: hidden;
}
.hover .icon-glow, .hover1 .icon-glow{
  visibility: visible;
}
.section-key{
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 2px;
  left: -20px;
  text-align: left;
  font-size: 27px;
  border-radius: 50%;
  color: #010202;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.section:hover .section-key, .hover .section-key, .hover1 .section-key{
  opacity: 1;
}
.section-title{
  position: fixed;
  top: 10px;
  left: 10px;
  width: 180px; 
  color: #576E80;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: Prime;
  letter-spacing: 1px;
  font-weight: bolder;
  text-shadow: 1px 1px black;
}
.section:hover .section-title, .hover .section-title, .hover1 .section-title{
  color: #A0DDFF;
}

.section img, .hover img{
  position: fixed;
  width:180px;
  height: 180px;
  margin-top: 20px; 
  right: 0; 
  z-index: 1;
}
.icon-normal{
  -webkit-transition: visibility 0.5s ease-out;
    -moz-transition: visibility 0.5s ease-out;
    -o-transition: visibility 0.5s ease-out;
    -ms-transition: visibility  0.5s ease-out;
    transition: visibility 0.5s ease-out;
}
.icon-normal{
  visibility: visible;
}
.icon-glow{
  visibility: hidden;
}
.section:hover .icon-normal{
  visibility: hidden;
}
.section:hover .icon-glow{
  visibility: visible;
}
#cluster-menu{
  z-index: 3;
  position: absolute;
  width: 975px;
  margin-left: -487px;
  padding: 5px 10px;
  top: 60%;
  left: 50%;  
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  visibility: visible;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
    -ms-transition: all  .5s ease-out;
    transition: all .5s ease-out
   
}
#events-menu,#workshops-menu,#gl-menu,#exhibitions-menu,#sponsorships-menu{
  position: relative;
  z-index: 3;
  opacity: 0;
  -webkit-transform-origin:0% 50%;
  -moz-transform-origin:0% 50%;
  -ms-transform-origin:0% 50%;
  -o-transform-origin:0% 50%;
  transform-origin:0% 50%;
  -webkit-transform:scale(0);
  -moz-transform:scale(0);
  -o-transform:scale(0);
  -ms-transform:scale(0);
  transform: scale(0); 
  -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all  .5s ease-out;
    transition: all .5s ease-out;
}

.cluster-section{
    display: inline-block;
    vertical-align: middle;
    margin-top: 5%;
    margin-right: 2%;
    margin-bottom: 15%;
    width:180px;
    height:200px;
    cursor: pointer;
    box-shadow: 0 0 0px #000, inset 0px 0 0px #228DFF, inset -20px 0 300px #122c36, 0 0 4px #3D4469, 0px 0 0px #122c36, 0px 0 0px #228DFF;  
  /*background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25)), -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25));
    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25)), -webkit-linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25));
    background-position: 0 0pt, 4px 4px;
    background-size: 3px 3px;
    background-color: #152D5F;*/
    border: none;
    border-radius: 2px;
    border: 1px solid gray;
    border-left-width: 10px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all  0.5s ease-out;
    -ms-transition: all  0.5s ease-out;
    transition: all 0.5s ease-out;
}
.cluster-section:hover{
  box-shadow: inset 0px 0px 5px #68A1CE, inset 4px 0 10px #68A1CE, inset -20px 0 300px #122c36, 0 0 0px #3D4469, 0px 0 0px #122c36, 0px 0 0px #228DFF, 6px -6px 12px -7px #A0DDFF;  
  border-color: #7FA9DB;
  border-left-color: #BEC7CE; 
    -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  -ms-transform:scale(1.1);
  transform: scale(1.1); 
}
#controls{
  position: fixed;
  z-index: 5;
  top: 50%;
  right: 0%;
  width: 100px;
  text-align: center;
  cursor: pointer;
  height: auto;
  font-family: Geosans;
  font-size: 18px;
  color: white;
}

#logo{
  position: fixed;
  right:0;
  z-index: 2;
  height: auto;
  right:1%;
  top: 1%;
  width: 200px;
  display: block;
}
@media (max-width: 800px){
  /*#logo{
    width: 200px;
  }*/
}
#logo img{
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
}
#sub-menu{
  position: absolute;
  z-index: 4;
  width: 300px;
  height: 100%;
  border-right: 3px solid #34546F;
  box-shadow: inset 0 0 30px black;
  opacity: 0;
  background-color: #010710;
  color: #92CCFC;
 -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.sub-section{
  position: relative;
  float: top;
  width: 100%;
  height: 40px;
  z-index: 4;
  white-space: nowrap;
  font-family:  Prime;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}
.sub-section:hover{
    background-color: #0E2B43;
    color: white;
}
.sub-section p{
  padding: 0 10px;
}
.menu-icons{
  width: 30px; 
  height: auto;
}
.scrollable::-webkit-scrollbar {
  display: none;
    height: 5px;
}
.scrollable::-webkit-scrollbar-track {
  display: none;
    -webkit-box-shadow: inset 0 0 6px #228DFF;
}
.scrollable::-webkit-scrollbar-thumb {
  display: none;
  background-color: #228DFF;
  outline: 1px solid slategrey;
}

.navicon-button {
  display: inline-block;
  padding: 5.25rem 1.3125rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  background: white;
  float: left;
}
.navicon-button:hover {
  opacity: 1;
}
.navicon-button:hover .navicon:before {
  top: -3rem;
}
.navicon-button:hover .navicon:after {
  top: 3rem;
}

#toggle{
  z-index: 5;
  position: absolute;

}
#toggle button {
  display: inline-block;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}
#toggle button span {
  display: block;
}
.lines-button {
  padding: 2rem 1rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.57143rem;
  /* */
}
.lines-button:hover {
  opacity: 1;
}
.lines-button:active {
  transition: 0;
}
.lines {
  display: inline-block;
  width: 2rem;
  height: 0.27143rem;
  background: #ecf0f1;
  border-radius: 0.08571rem;
  transition: 0.3s;
  -webkit-transition:0.3s;
  -moz-transition:0.3;
  position: relative;
}
.lines:before, .lines:after {
  display: inline-block;
  width: 2rem;
  height: 0.27143rem;
  background: #ecf0f1;
  border-radius: 0.08571rem;
  transition: 0.3s;
  -webkit-transition:0.3s;
  -moz-transition:0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
}
.lines:before {
  top: .5rem;
}
.lines:after {
  top: -.5rem;
}

.lines-button:hover .lines:before {
  top: .64rem;
}
.lines-button:hover .lines:after {
  top: -.64rem;
}
